@page "/arquivo"
@using System.IO
@using BlazorInputFile
@using BlazorApp1.Scripts
@using System.Collections
@inject IJSRuntime JSRuntime

<style>
    .rotateimg180 {
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        transform: rotate(180deg);
    }

    .rotateimg90 {
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        transform: rotate(90deg);
    }

    .rotateimg0 {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    .rotateimg270 {
        -webkit-transform: rotate(270deg);
        -moz-transform: rotate(270deg);
        -ms-transform: rotate(270deg);
        -o-transform: rotate(270deg);
        transform: rotate(270deg);
    }
</style>

<div class="container card">
    <div class="card-body">
        <div class="row col-sm-auto btn btn-sm">
            <InputFile OnChange="HandleFileSelected" />
        </div>

        @if (arquivo != null)
        {
            <div class="row col-auto">Name: @arquivo.Name</div>
            <div class="row col-auto">Size in bytes: @arquivo.Size</div>
            <div class="row col-auto">Last modified date: @arquivo.LastModified.ToShortDateString()</div>
            <div class="row col-auto">Content type: @arquivo.Type</div>

            @if (arquivo.Type.Contains("image"))
            {
                <br />
                <div class="row col-auto">
                    <button type="button" class="btn btn-sm btn-outline-primary" @onclick="GirarImagem">Girar Imagem</button>
                </div>
                <br />
                <div class="row" >
                    <div class="col-6">
                        <img src="data:@arquivo.Type;base64, @arquivoBase64" style="width:100%; height:auto" class=" drift-trigger" data-zoom="data:@arquivo.Type;base64, @arquivoBase64" @onload="zoom" />
                    </div>
                    <div class="col-6 @giro" >
                        <div class="detail"></div>
                    </div>
                </div>

            }

            @if (arquivo.Type.Contains("pdf"))
            {
                <div class="row col-auto">
                    <embed src="data:@arquivo.Type;base64,@arquivoBase64" height="480" type="@arquivo.Type" style="width:100%">
                </div>
            }

            @if (arquivo.Type.Contains("audio"))
            {
                <div class="row col-auto">
                    <audio src="data:@arquivo.Type;base64,@arquivoBase64" controls="controls" autobuffer="autobuffer" style="width:100%"></audio>
                </div>
            }
        }
    </div>
</div>


@code {
    IFileListEntry arquivo;

    private string arquivoBase64;

    private int posicaoDeGiro = 0;
    private string giro = "rotateimg0";

    void GirarImagem()
    {

        if (posicaoDeGiro == 270) posicaoDeGiro = 0;

        else posicaoDeGiro += 90;

        giro = "rotateimg" + posicaoDeGiro.ToString();

    }

    async Task<bool> HandleFileSelected(IFileListEntry[] files)
    {
        arquivo = files.FirstOrDefault();

        arquivoBase64 = await Auxiliar.ArquivoEmBase64(arquivo);


        return true;
    }

    async void zoom()
    {
        await JSRuntime.InvokeVoidAsync("zoom");
    }
}